### IntelliJ IDEA ###
out/production
!**/src/main/**/out/
!**/src/test/**/out/
.idea/workspace.xml
.idea/shelf/
.idea/usage.statistics.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
/.metadata/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### LaTeX Build Files ###
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.xdv
*.bbl
*.blg
*.dvi
*.idx

### Test Data ###
data/
